[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
aiohttp = "*"
aioresponses = "*"
appnope = "*"
asynctest = "*"
bottom = "*"
cchardet = "*"
chardet = "*"
clint = "*"
colored = "*"
cookies = "*"
coverage = "*"
decorator = "*"
"geoip2" = "*"
inflection = "*"
ipython = "*"
maxminddb = "*"
multidict = "*"
pexpect = "*"
pickleshare = "*"
pkginfo = "*"
ptyprocess = "*"
py = "*"
pycares = "*"
pycparser = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytz = "*"
simplegeneric = "*"
simplex = "*"
six = "*"
traitlets = "*"
twine = "*"
wcwidth = "*"
yarl = "*"
aiopg = "*"
peewee = "*"
peewee-async = "*"
"psycopg2" = "*"
uvloop = "*"
ipwhois = "*"
click = "*"
aio-dprcon = "*"
django-echoices = "*"
python-xonotic-db = "*"
async_timeout = "*"
ipython_genutils = "*"
prompt_toolkit = "*"
Pygments = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.6"
