aiodns==1.1.1
aiohttp==2.2.5
aioresponses==0.1.5
appnope==0.1.0
async-timeout==1.2.1
asynctest==0.10.0
bottom==2.1.0
cchardet==2.1.1
chardet==3.0.4
clint==0.5.1
colored==1.3.5
cookies==2.2.1
coverage==4.4.1
decorator==4.0.11
geoip2==2.5.0
inflection==0.3.1
ipython==6.1.0
ipython-genutils==0.2.0
maxminddb==1.3.0
multidict==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
pkginfo==1.4.1
prompt-toolkit==1.0.14
ptyprocess==0.5.2
py==1.4.34
pycares==2.2.0
pycparser==2.18
Pygments==2.2.0
pytest==3.1.3
pytest-cov==2.5.1
pytest-mock==1.6.0
pytz==2017.2
PyYAML==3.12
simplegeneric==0.8.1
simplex==0.1.2
six==1.10.0
traitlets==4.3.2
twine==1.9.1
wcwidth==0.1.7
yarl==0.11.0
aiopg==0.13.0
peewee==2.10.1
peewee-async==0.5.7
psycopg2==2.7.1
uvloop==0.8.0
ipwhois==0.15.1
click==6.7
